$transition-duration: .2s;
$transition-style: cubic-bezier(0.08,0.52,0.52,1);
$active-node-background-color: rgba($color: #000000, $alpha: .1);
$active-node-color: #0076d6;

//Note that we overrided the defauly sidebar width from 272px to 320px
:root {
    --sidebar-width : 320px;
    --sidebar-padding: 0 16px;
  }

.enhanced-sidebar, #enhanced-sidebar {
    padding-top: 2rem;
    padding-bottom: 2rem;

    ul a, ul p {
        all: unset;
        font-family: inherit;
    }
    
    li, ul {
        all: unset;
        display: block;
    }

    .children {
        display: grid;
        grid-template-rows: 0fr;
        margin-left: 1.25rem;
        transition: grid-template-rows $transition-duration $transition-style
    }
    
    .head {
        display: flex;
    }
    
    .children.show {
        grid-template-rows: 1fr;
    }
    
    .children > ul {
        overflow: hidden;
    }
    
    .text {
        width: 100%;
        display: flex;
        overflow:hidden;
        padding: .5rem .75rem;
        > .title {
            flex-grow: 1;
            display: -webkit-box;
            overflow:hidden;
            text-overflow: ellipsis;
            overflow-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            position: relative;
        }
    } 

    .chevron {
        padding: .5rem .5rem;
        border-radius: .25rem;
        display: flex;
        justify-items: center;
        align-items: center;
        transition: background-color $transition-duration $transition-style;
    }
    
    .chevron:hover {
        background-color: $active-node-background-color;
    }
    
    .chevron-icon {
        transition: transform .3s;
    }
    
    .chevron-icon.show {
        transform: rotate(90deg);
    }
    
    .head {
        cursor: pointer;
        border-radius: .25rem;
        transition: background-color $transition-duration $transition-style;
    }
    
    .head:hover {
        background-color: $active-node-background-color;
    }
    
    .node.has-active > .head > .text {
        strong, span {
            color: $active-node-color;
        }
    }
    
    .node.is-active > .head {
        background-color: $active-node-background-color;
        .text { 
            strong, span {
                color: $active-node-color;
            }
        }
    }
}